{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block body %}


<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <!-- header-end -->

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                   </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <div class="job_details_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-10">

                    <div class="apply_job_form white-bg"  >
                     {% block content %}
                    
                    {% endblock content %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

                    {% endblock body %}
</body>

</html>